<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- JQUERY MOBILE STYLES -->
    <link href="/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Content/themes/base/minified/jquery.ui.datepicker.min.css" rel="stylesheet" />
    <link href="/Content/jquery.mobile-1.3.0.min.css" rel="stylesheet" />
    <!-- MY STYLES -->
    <link href="/Content/MyStyles/index.css" rel="stylesheet" />
    <!-- JQUERY SCRIPTS -->
    <script src="/Scripts/jquery-2.0.0.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="/Scripts/jquery.session.js"></script>
    <!--<script src="Scripts/jquery.validate.min.js"></script>-->
    <!-- MY CUSTOM SCRIPTS -->
    <script src="/Scripts/MyScripts/helpers.js"></script>
    <script src="/Scripts/MyScripts/index.js"></script>
    <!-- JQUERY MOBILE SCRIPT SHOULD BE PLACED AT THE END -->
    <script src="/Scripts/jquery.mobile-1.3.0.min.js"></script>
</head>
<body>
    
</body>
</html>
