<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div id="far-logo">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/farlogo.png" />
        </a>
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.0.2.min.js"></script> 
    <script src="~/Scripts/jquery-latest.js"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>   
    <script src="~/Scripts/light-table-filter.js"></script>
    @*<script src="~/Scripts/jquery.tablesorter.pager.js"></script>*@   
    <script src="~/Scripts/layout.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
